node_modules/@angular-cli/ast-tools/node_modules/rxjs/operator/bufferWhen.d.ts
node_modules/
e2e/
dist/
bin/
obj/
BookingApp\BookingApp\bin
BookingApp\BookingApp\obj
BookingApp/BookingApp/bin/BookingApp.dll
BookingApp/.vs/config/applicationhost.config
BookingApp/BookingApp/bin/BookingApp.dll
BookingApp/BookingApp/bin/BookingApp.pdb
BookingApp/BookingApp/obj/Debug/BookingApp.csproj.FileListAbsolute.txt
BookingApp/BookingApp/obj/Debug/BookingApp.csproj.GenerateResource.Cache
BookingApp/BookingApp/obj/Debug/BookingApp.csprojResolveAssemblyReference.cache
BookingApp/BookingApp/obj/Debug/BookingApp.dll
BookingApp/BookingApp/obj/Debug/BookingApp.pdb
BookingApp/BookingApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BookingApp/.vs/config/applicationhost.config
BookingApp/BookingApp/bin/BookingApp.dll
BookingApp/BookingApp/bin/BookingApp.pdb
BookingApp/BookingApp/obj/Debug/BookingApp.csproj.FileListAbsolute.txt
BookingApp/BookingApp/obj/Debug/BookingApp.csproj.GenerateResource.Cache
BookingApp/BookingApp/obj/Debug/BookingApp.csprojResolveAssemblyReference.cache
BookingApp/BookingApp/obj/Debug/BookingApp.dll
BookingApp/BookingApp/obj/Debug/BookingApp.pdb
BookingApp/BookingApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
