<div class="container" >
  <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div class="form-group">
      <label class="control-label col-sm-2" for="Username">Username:</label>
      <div class="col-sm-10">
        <input type="username" class="form-control" id="Username" placeholder="Enter username" name="Username" ngModel>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Password">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="Password" placeholder="Enter password" name="Password" ngModel>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
        <button class="btn btn-default" (click)="logOut()">Log out</button>
      </div>
    </div>
  </form>
</div>